.tour-card
    img.cover-image(src=coverImage alt=`${name} Cover Image`)
    .tour-info
        h2.tour-name= name
        p.tour-duration Duration: #{duration}
        p.tour-price Price: #{price}
        button.details-button Details
