extends base

block append head
    link(rel='stylesheet' href='/css/tourDetails.css')

block content
    .container
        .tour-details
            .tour-header
                img.cover-image(src=`/img/tours/${tour.coverImage}` alt="Tour Cover Image")
            .tour-info
                h1.tour-title=tour.name
                p.tour-duration Duration: #{tour.duration}days
                p.tour-price Price: $#{tour.price}
            .tour-description
            h2 Description
            p
                | #{tour.description}
            .tour-highlights
            h2 Locations
            ul
                each location in tour.locations 
                    li=location
            .tour-images
            h2 Images
            .image-container
                each image in tour.images 
                    img.image(src=`/img/tours/${image}` alt="Tour images")
            .book-now
            button.book-btn.bookingButton(data-tour-id=`${tour._id}`) Book Now